.result-wrapper{
  margin-top: 50px;
}

.result-count{
  width: 350px;
  font-weight: 700;
  font-size: 20px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: 1px;
  height: 64px;
  color:rgb(128, 128, 128)
}

.result-wrapper__not{
  text-align: center;
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 52px;
  margin-bottom: 120px;
  color: #fa9999;
}
