.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54545a;
  padding: 16px 32px 16px 32px;
  width: 544px;
  height: 56px;
  gap: 10px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24;
  color: white;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-family: 'Inter';
}

button:hover{
  opacity: 0.8;
}