.page__title{
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 52px;
  margin-bottom: 48px;
}

.page__title_search{
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 52px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page__title_favorites{
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 62px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.page__title_favoritesx{
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin: 0 auto;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 62px;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: rgb(250, 115, 115);
}

.page__title_cart{
  width: 1120px;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -1.8px;
  height: 64px;
  margin-top: 62px;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: rgb(250, 115, 115);
  margin: 0 auto;
  text-align: center;
}


@media(max-width:1150px){
  .page__title {
    width: 400px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
  }

  .page__title_cart{
    width: 400px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
  }

  .page__title_favorites{
    max-width: 400px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
  }

  .page__title_favoritesx{
    width: 90%;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px; 
    margin-bottom: 180px;
  }

  .page__title_search{
    width: 400px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px; 
  }
}

@media(max-width:800px){
  .page__title{
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .page__title_cart{
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .page__title_favorites{
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .page__title_favoritesx{
    margin-top: 12px;
    margin-bottom: 180px;
  }
  .page__title_search{
    margin-top: 12px;
    margin-bottom: 28px;
  }
}

@media(max-width:600px){
  .page__title{
    margin-top: 0px;
    margin-bottom: 18px;
  }
  .page__title_cart{
    margin-top: 0px;
    margin-bottom: 18px;
  }
  .page__title_favorites{
    margin-top: 0px;
    margin-bottom: 18px;
  }
  .page__title_favoritesx{
    margin-top: 0px;
    margin-bottom: 240px;
    width: 80vw;
  }
  .page__title_search{
    margin-top: 0px;
    margin-bottom: 18px;
  }
}