.header{
  width: 1120px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 34px 0 34px 0;
  height: 124px;
}

.header-logo__text{
  letter-spacing: -2px;
  height: 62px;
  width: auto;
  line-height: 56px;
  cursor: pointer;
  width: 120px;
  text-decoration: none;
  display: block;
  font-size: 28px;
  font-weight: bold; 
}

.header-search{
  margin-left: 172px;
}

.header-search-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.heart-icon-wrapper {
  position: relative;
}

.red-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 81, 81);
  border: 2px solid white;
  position: absolute;
  top: 16px;
  right: 13px;
}


.header-search-container__input{
  outline: none; 
  width: 542px;
  height: 56px;
  top: 24px;
  gap: 0px;
  border: 1px solid #A8A8A8;
  padding: 10px 40px 10px 10px;
}

.header-search-container__icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.header-icon-wrapper{
  margin-left: 122px;
  width:204px;
  height:56px;
  display: flex;
  flex-direction: row;
}

.header-icon-wrapper__image{
  width: 24px;
  height: 24px;
  margin: 14px;
  margin-top: 16px;
  cursor: pointer;
}

@media (max-width: 1202px) {
  .header-icon-wrapper{
    margin-left: 100px;
  }

  .header-logo__text{
    width: 100px;
  }
}

@media (max-width: 1150px) {
  .header-icon-wrapper{
    margin-left: 160px;
    width: 104px;
  }

  .header-logo__text{
    margin-left: 40px;
  }
  

  .header-search-container__input{
    width: 442px;
  }
}

@media (max-width: 1150px) {
  .header{
    width: 1000px;
  }

  .header-icon-wrapper__image{
    width: 22px;
    height: 22px;
    margin: 12px;
    margin-top: 14px;
    cursor: pointer;
  }

  .header-icon-wrapper{
    margin-left: 100px;
  }

}

@media (max-width: 1020px){
  .header-icon-wrapper{
    margin-left: 40px;
  }
}

@media (max-width: 1020px){
  .header-search-container__input{ 
    width: 342px;
  }

  .header{
    width: 780px;
  }

  .header-logo__text{
    margin-left: 0px;
  }
}

@media (max-width: 840px){
  .header-logo__text{
    font-size: 24px;
    margin-left: 10px;
  }

  .header-icon-wrapper__image{
    margin: 8px;
  }
}

@media (max-width: 800px){
  .header-logo__text{
    font-size: 24px;
    margin-left: 0px;
  }

  .header-icon-wrapper__image{
    margin: 8px;
  }

  .header{
    width: 600px;
  }

  .header-search-container__input{ 
    width: 222px;
  }

  .header-search{
    margin-left: 102px;
  }
}


@media (max-width:626px){
  .header{
    width: 500px;
  }
  .header-logo__text{
    margin-left: 0px;
  }
  .header-search{
    margin-left: 52px;
  }
}

@media (max-width:598px){
  .header-search{
    position: absolute;
    top: 85px;
    left: -10px;
  }
  .header-search-container__input{
    outline: none; 
    width: 80vw;
    height: 40px;
  }
  .header-logo__text{
    margin-left: 40px;
  }
  .header-icons{
    margin-left:  160px;
  }

  .header{
    width: 480px;
  }
}
