.sign-in-inputs {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }
  
  .sign-in-link {
    display: flex;
    margin: 0 auto;
    outline: none;
    text-decoration: none;
  }
  
  .passwd-link {
    align-self: flex-start;
    margin-bottom: 48px;
    outline: none;
    text-decoration: none;
    color: blue;
  }
  
  .sign-in-link .link {
    margin-left: 5px;
    line-height: 20px;
    color: blue;
  }
  
  .passwd-link__forgot {
    text-decoration: none;
    color: blue;
  }
  
  .sign-in-link__sign {
    text-decoration: none;
  }
  
  @media (max-width: 992px) {
    .sign-in-inputs {
      gap: 30px;
    }
  
    .passwd-link {
      margin-bottom: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .sign-in-inputs {
      gap: 20px;
    }
  
    .passwd-link {
      margin-bottom: 24px;
    }
  }
  
  @media (max-width: 480px) {
    .sign-in-inputs {
      gap: 10px;
      width: 100%;
    }
  
    .passwd-link {
      margin-bottom: 16px;
    }
  }
  